html, body {
  width: 100%;
  height: 100%;
  /* To smooth any scrolling behavior */


}
em{
  color:white;
}

.invisible{
  opacity: 0;
  transition: opacity 1s linear;
  color: #fff;
  position: fixed;
  font-size: 30px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  bottom: 50%;
  left: 70%;
  margin-left: -30px;
}

.visible{
  opacity: 1.0;
  font-size:30px;
  color: #3B3B3B;
  visibility: visible;
  font-family: 'IBM Plex Serif', serif;
  position: fixed;
  font-size: 30px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  bottom: 50%;
  left: 70%;
  margin-left: -30px;
  z-index: 10;

}

#indicatorContainer{
    position: fixed;
    top: 10%;
    right: 2.5%;
    width: 50px;
    bottom: 10%;
    /*z-index: 10;*/
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#indicator{
  position: absolute;
  top: 0px;
  width: 5px;
  background-color: rgba(255,255,255,.1);
  border-radius: 1em 4em 1em 4em;
}

#indicatorContainer #navGroup {
  /*display: flex;*/
  height: 12px;
  width: 12px;
  border: solid;
  border-width: thin;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color:rgba(64,64,64,0.5);
}

section.max {
  position:fixed;
  top:20%;
  left: 60%
}

section.business-analyst{
  position:fixed;
  top:30%;
  left: 50%
}

section.mba{
  position:fixed;
  top:40%;
  left: 55%
}

section.dev{
  position:fixed;
  top:50%;
  left: 50%;
  width: 50%
}

@media only screen
    and (device-width: 375px)
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 2) {

  #indicatorContainer #navGroup {
    height: 40px;
    width: 40px;
  }

  #indicator{
    background-color: rgba(255,255,255,.1);
    width: 18px;
    z-index: 2;
  }

  #indicatorContainer #navGroup >span.inner {
    width:8px;
    height:8px;
  }

  #scrollDown {
    color: white;
    font-size: 45px;
    top: 10%;
    left: 2%;
    width: 30%;
  }

  body {
    background-color: #454545;
    overflow:auto;
    overscroll-behavior-y: none;

  }

  body div.videoWrapper {
    opacity: 0.5;

  }

  body section.max {
    position:fixed;
    top:10%;
    left: 2%
  }

  body section.business-analyst{
    position:fixed;
    top:10%;
    left: 2%
  }

  body section.mba{
    position:fixed;
    top:10%;
    left: 2%
  }

  body section.dev{
      position:fixed;
      top:6%;
      left: 2%;
      width: 100%
  }

  div.section-active {
    color: white;
    font-size: 45px;
  }

}


#indicatorContainer #navGroup >span {
  width:4px;
  height:4px;
  position:absolute;
  /*z-index: 2*/
}

#indicatorContainer #navGroup .active {
  /*width: 6px;
  height: 6px;*/
  position: absolute;
  cursor: pointer;
  background-color:rgba(64,64,64,0.5);
  transform: scale(2,2);
  transition: transform 200ms cubic-bezier(0, 0, 0.6, 1.6);
}

#indicatorContainer #navGroup .reverse {
  /*width: 12px;
  height: 12px;*/
  position: absolute;
  cursor: pointer;
  background-color:rgba(64,64,64,0.5);
  transform: scale(0.5,0.5);
  transition:transform 0.3s ease-out;
}

#indicatorContainer #navGroup .last{
  position: absolute;
  cursor: pointer;
  background-color:#212121;
  transform: scale(2,2);
  transition: transform 200ms cubic-bezier(0, 0, 0.6, 1.6);
}

#indicatorContainer #navGroup .last-reverse {
  /*width: 12px;
  height: 12px;*/
  position: absolute;
  cursor: pointer;
  background-color:#212121;
  transform: scale(0.5,0.5);
  transition:transform 0.3s ease-out;
}

.section-inactive{
  font-size:30px;
  color: #ff6347;
  visibility: hidden;

}
.section-active {
  font-size:30px;

  color: #3B3B3B;
  visibility: visible;
  /*font-family: 'Libre Baskerville', serif;*/
  /*font-family: 'Crimson Text', serif;
  font-family: 'Noto Serif', serif;*/
  font-family: 'IBM Plex Serif', serif;
  z-index: 10;

}

#set-height {
  display block
}

#videoWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*overflow: hidden;*/
    z-index: -1000;
    width: 100%;
    height: 100%;
    display: flex;
    /*justify-content: center;
    align-items: center;*/

}

#videoCanvas {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.5s ease;
  z-index: 10;
}
.loader-outer {
  width: 60%;
  height: 10px;
  background: rgba(0,0,0,0.3);
}
.loader-outer .loader-inner {
  width: 50%;
  height: 10px;
  background: black;
}

.loader-wrapper.hidden {
  opacity: 0;
  pointer-events: none;
}
